  :root {
      --rosa: #ffffff;
      --rosa-claro: #ffffff;
      --cinza: #666;
      --branco: #f3f1f1;
    }


    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: sans-serif;
    }

    body {
      background-color: var(--rosa-claro);
    }

    header {
      background-color: var(--rosa);
      color: #ffffff;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem;
    }

    .menu-icon, .cart-icon {
      font-size: 1.5rem;
      cursor: pointer;
    }

    .logo {
      font-weight: bold;
      font-size: 1.2rem;
    }

    .container {
      padding: 1rem;
    }

    .imagem-produto {
      width: 100%;
      border-radius: 8px;
    }

    .info-produto {
      margin-top: 1rem;
    }

    .info-produto h1 {
      font-size: 1.5rem;
      color: var(--rosa);
      margin-bottom: 0.5rem;
    }

    .info-produto p {
      color: var(--cinza);
      margin-bottom: 0.5rem;
    }

    .precos {
      margin-top: 1rem;
      display: inline-block;
      
    }

    .preco-original {
      text-decoration: line-through;
      color: #888;
      font-size: 1rem;
    }

    .preco-desconto {
      color: #e91e63;
      font-weight: bold;
      font-size: 1.4rem;
    }

    .botao-comprar {
      margin-top: 1.5rem;
      background-color: var(--rosa);
      color: black;
      border: none;
      padding: 1rem;
      width: 50%;
      font-size: 1rem;
      border-radius: 8px;
      cursor: pointer;
      justify-content: center;
      align-items: center;
      margin-left:25% ;
      
    }

    .botao-comprar:hover {
      background-color: #A77009;
      color: #ffffff;
    }